<h1 class="head"><%=link_to "ArtographerSF", root_path %></h1>
<h1 class="signup">Sign In</h1>

<div>
    <div class="signup_form">
        <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in" %>
    <% end %>
    </div>
</div>