<h1 class="head">ArtographerSF</h1>
<h1 class="signup">Sign up</h1>

<div>
    <div class="signup_form">
        <%= form_for(@user) do |f| %>
            <% unless @user.errors.count == 0   %>
            <div class="alert alert-error">
                The form contains <%= pluralize(@user.errors.count, "error") %>.
            </div>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
            <% end %>
            </ul>
            <% end %>

            <%= f.label :name %>
            <%= f.text_field :name %>
            
            <%= f.label :email %>
            <%= f.text_field :email %>
         
            <%= f.label :password %>
            <%= f.password_field :password %>
        
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
            
            <%= f.submit "Create My Account", :class => 'signup_btn' %>
        <% end %>
    </div>
</div>