<h1 class="head">ArtographerSF</h1>
<ul class="signin">
        <% if signed_in? %>
          <li><%= link_to "My profile", current_user %></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
</ul>


<div class="container" >

	<%for x in Event.all[0...10] do %>
	<div class="event_container"> 
		<img class="poster" src="<%=x.image%>" />
		<div class="event_info"> 
			<h3><%= x.name %></h3>
			<p><%= x.location %></p>
			<p><%= x.time %></p> 
		</div><!--end_event_info-->
		<div class="description">
			<%= x.description.html_safe%>
		</div><!--end_description-->
	</div><!--end_event_container-->
	<%end%>

</div><!--end_container--->