<h1>ArtographerSF</h1>
<ul class="signin">
        <% if signed_in? %>
          <li><%= link_to "My profile", current_user %></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
</ul>


<div class="event_list">
<ul>
<%for x in @request[0...8] do %>
<% start = x["start"]["dateTime"] %>
<% event = DateTime.parse(start)%>
<% event_date = event.to_date %>


<%#= DateTime.now #check %>  
<h3><%= x["summary"] %></h3>
<li><%= x["location"]%></li>
<!-- <li><%#= html_doc = Nokogiri::HTML check%></li> -->
<li><%= x["start"]["dateTime"]%></li>
<%= doc = Nokogiri::HTML(x["description"]) %>
<br><br>
<div> <%#= doc.css("a") %> </div>
<div> <%#= doc.css("img") %> </div>
<div> <%#= doc.css("p") %></div>



<%#end%>
<%end%>
</ul>
</div>