<h1>ArtographerSF</h1>
<ul class="signin">
        <% if signed_in? %>
          <li><%= link_to "My profile", current_user %></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
</ul>


<div class="container" >

	<%for x in @request[0...15] do %>
	<% start = x["start"]["dateTime"]%>
	<% event = DateTime.parse(start)%>
	<% event_date = event.to_date %>
	<div class="event_container"> 
		<div class="event_info">  
			<h3><%= x["summary"] %></h3>
			<p><%= x["location"]%></p>
			<p><%= x["start"]["dateTime"]%></p>
		</div><!--end_event_info-->

		<% doc = Nokogiri::HTML(x["description"]) %>
		<% image = doc.at_css('img') %><br>
			<% unless image.nil? %>
				<img class="poster" src="<%= image.attribute("src") %>">
			<% end%>
		 
			<%p = doc.search("p") %>
			<div class="description">
				<% p.each do |node|%>
				<p><% node.text %></p>
				<% end%>
			</div><!--end_description-->
	</div><!--end_event_container-->
	<%end%>

</div><!--end_container--->