<%= include_gon %>

<h1 class="head">ArtographerSF</h1>

<div class="list_btn">
<a href=""><%= image_tag "Arrowhead-Right-01-128.png", height: 40 %></a>
</div>

<div id="container" class="container">
	<%for x in Event.all[0...-1] do %>
	<div class="event_container "> 
		<img class="poster" src="<%=x.image%>" />
		<div class="event_info"> 
			<h4><%= x.name %></h4>
			<% unless x.location == nil || x.location.include?("@")==false %>
			<p><%= x.location.split("@").last %></p>
			<%end%>
			<p><%= x.time.strftime(format="%b %e @%l:%M %p") %></p> 
		</div><!--end_event_info-->
		<div class="description">
			<%= x.description.html_safe%>
		</div><!--end_description-->
	</div><!--end_event_container-->
	<%end%>
</div><!--end_container-->

