<h1 class="head">ArtographerSF</h1>




<div class="container">
	<%for x in Event.all[0...15] do %>
	<div class="event_container "> 
		<img class="poster" src="<%=x.image%>" />
		<div class="event_info"> 
			<h4><%= x.name %></h4>
			<p><%= x.location.split("@").last %></p>
			<p><%= x.time %></p> 
		</div><!--end_event_info-->
		<div class="description">
			<%= x.description.html_safe%>
		</div><!--end_description-->
	</div><!--end_event_container-->
	<%end%>
</div><!--end_container-->

