<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  <title>Artographer</title>
  <%= include_gon %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSwOFjXD4yZB8Hyjh0crY3aeBX9IcTm64&sensor=false"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "jquery.mCustomScrollbar.css", media: "all" %>
  <%= javascript_include_tag "jquery.mCustomScrollbar.concat.min.js" %>
  <!--<link href="assets/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
  <script src="assets/jquery.mCustomScrollbar.concat.min.js"></script>-->

</head>
<body>
<div class="toggle_btn">
<a href=""><%= image_tag "User-Profile-128.png", height: 40 %></a>
</div>
<div class="toggle_container toggle">
	<ul class="signin">
        <% if signed_in? %>
          <li><%= link_to "My profile", current_user, :class=>"right" %></li>
          <hr class="right">
          <li>
            <%= link_to "Sign out", signout_path, method: "delete", :class=>"right" %>
          </li>
        <% else %>
       	  <li><%= link_to "Sign in", signin_path, :class=>"right" %></li>
          <hr class="right">
          <li class="right">New User? <%= link_to "Sign up", signup_path, :class=>"right" %></li>
        <% end %>
	</ul>
</div>
<%= yield %>
<div id="map-canvas" class="mapper"></div>
</body>
</html>
